<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Greetings App</title>
    <link rel="stylesheet" href="css/style-greetings.css">
    <link rel="stylesheet" href="css/utilities.css">
    <script src="/setimeout.js"></script>
   
    
</head>

<body>

    {{{body}}}

</body>

</html>