<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetingss</title>
    <link rel="stylesheet" href="./css/style-greetings.css">
    <link rel="stylesheet" href="./css/utilities.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Calligraffitti" />

</head>

<body>
    <header class="navbar">
        <div class="topnav" id="myTopnav">

            <a class="active">GREETINGS APP</a>
            <a class="current" href="/">Homepage</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>

        </div>
    </header>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

            // displayMembers();


    </script>
    <table id="display" class="styled-table">
        <thead>
            <tr>
                <th>Greet User</th>
            </tr>
        </thead>

        <tbody class="blank">
            {{#each allUsers}}
            <tr>
                <td>{{this.greeted_users}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>











</body>



</html>