
/*** PLANS ICON ***/
.icon-img {
    height: auto;
    margin: 10px 7.5% 10px 5px;
}

.icon-img img {
    width: 100px;
    justify-self: flex-end;
}

.contact-icon {
    background-color: #457b9d;
    border-radius: 23pt;
}

.contact-icon .flex {
    justify-content: space-between;
}
h3{
  text-align: center;
}
.number{
  background-color:#ddd;
  display: block;
}



.icon-text p {
    margin-top: 2.5px;
    font-size: 17px;
}
.menu li{
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width:87%;
    
  }
  .card{
      width:25%;
      flex:1;
  }
  .dropbtn{
      background-color: #0099cc;
      width:100%;
      border-style: hidden;
      border-radius: 12pt;
      
      
  }
  h2{
    text-align: center;
  }
  
  .menu li:hover,
  .dropbtn{
    background-color: #0099cc;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  
  
  .topnav2 {
    overflow: hidden;
    background-color: #ddd;
    
    
  }
  
  .topnav2 a {
    float: left;
    display: block;
    color:#000;
    text-align: center;
    padding: 14px 16px;
    text-decoration:azure;
    font-size: 15px;
  }
  
  .topnav2 a:hover {
    background-color: #ddd;
    color:#ffd60a;
  }
  
  .topnav2 a.active {
    background-color:#457b9d;
    color: white;
  }
  
  .topnav2 .icon {
    display:none;
  }
  
  @media screen and (max-width: 900px) {
    .topnav2 a:not(:first-child) {display: none;}
    .topnav2 a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 900px) {
    .topnav2.responsive {position: relative;}
    .topnav2.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav2.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    
    
  
  
  }
  .topnav2 {
    overflow: hidden;
    background-color: #ddd;
    
    
  }
  
  .topnav2 a {
    float: left;
    display: block;
    color:#000;
    text-align: center;
    padding: 14px 16px;
    text-decoration:azure;
    font-size: 15px;
  }
  
  .topnav2 a:hover {
    background-color: #ddd;
    color:#ffd60a;
  }
  
  .topnav2 a.active {
    background-color:#457b9d;
    color: white;
  }
  
  .topnav2 .icon {
    display:none;
  }
  
  @media screen and (max-width: 900px) {
    .topnav2 a:not(:first-child) {display: none;}
    .topnav2 a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 900px) {
    .topnav2.responsive {position: relative;}
    .topnav2.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav2.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    
    
  
  
  }
          
  
  
  .topnav3 {
    overflow: hidden;
    background-color: #ddd;
    
    
  }
  
  .topnav3 a {
    float: left;
    display: block;
    color:#000;
    text-align: center;
    padding: 14px 16px;
    text-decoration:azure;
    font-size: 15px;
  }
  
  .topnav3 a:hover {
    background-color: #ddd;
    color:#ffd60a4b;
  }
  
  .topnav3 a.active {
    background-color:#457b9d;
    color: white;
  }
  
  .topnav3 .icon {
    display:none;
  }
  
  @media screen and (max-width: 900px) {
    .topnav3 a:not(:first-child) {display: none;}
    .topnav3 a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 900px) {
    .topnav3.responsive {position: relative;}
    .topnav3.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav3.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    
    
  
  
  }
  
  .row {
    display: flex;
    
    padding: 0 4px;
  }
  
  
  
.Enter {

  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 8pt;
 
  cursor: pointer;
  /* margin-left: 70%; */
  /* margin-right:50%; */
  border: 2px solid #4CAF50; /* Green */
  background-color: white;

}
.Clear {

  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 8pt;
 
  cursor: pointer;
  /* margin-left: 50%; */
  /* margin-right:70%; */
  border: 2px solid #c4362c; /* Green */
  background-color: white;

}
.buttonss{
  margin-right: auto;
  margin-left: auto;
  width:60%;
}





@media only screen and (max-width: 900px) and (min-width: 300px) {
    
  
    .form{
      flex-wrap: wrap;
    }
    .sub-card{
        width:100%;
    }
    .row{
      flex-wrap:wrap;
    }
    .number{
      width: 111%;
    }
    h4{
      width: 90%;

    }
    .styled-table{
      width:120%;
    }
    .icon-img{
      /* margin-left: auto; */
      margin-left: 30%;
      width:50%;
    }
    .values{ 
      margin-left: 50%;
      /* margin-right: auto; */
      width:100%;
    }
    
  }

  
  

  .values{ 
    margin-left: 20%;
    /* margin-right: auto; */
    width:60%;
  }

  .errorMessage{
    font-weight: bold;
    text-align: center;
    font-size:30pt;
    color:#c4362c;
  }

  .errorMessage1{
    font-weight: bold;
    text-align: center;
    font-size: 30pt;
    color:#4CAF50;
  }

  .color{
    color:#000;
    font-size: 100pt;
  }
  .greet-message{
    margin-left: auto;
    margin-right: auto;
    width:17%;
  }
  