@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


/*** UNIVERSAL ***/

* {
    font-family: 'Lato', Helvetica, sans-serif;
    line-height: 1.25;
    box-sizing: border-box;
}
.html{
    scroll-behavior: smooth;
}

body {
    color: #001d3d; 
    padding: 0;   
    margin: 0;
}

/* ul {
    list-style: none;
} */

/* a {
    text-decoration: none;
} */

/* UTILITIES */

.container {
    max-width: 1024px;
    margin: 0 auto;
    /* overflow: auto; */
    padding: 0 25px;
    border-radius: 50pt;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

.card {
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.6);
    border-radius: 6px;
    height: auto;
}

.img-fluid {
    top:75%;
    width: 100%;
    max-width: 400px;
    height: 100%;
    border-radius:12px ;
    
}

/*** HEADER ***/

.navbar  {
    background-color: #457b9d;
    min-height: 80px;
    border-bottom: 0.1px #ffd60a solid;
}

.navbar .flex{
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #ffd60a;
}

.navbar a:hover {
    border-bottom: 3px #ffd60a solid;
    font-weight: bold;
}

.current a {
    color: white;
}

.brand {
    text-align: center;
}

.brand h2 {
    margin: 1px 0 0 0;
}

.brand h3 {
    margin: 0 0 1px 0;
}

/*** FOOTER ***/
footer a {
    color: #ffd60a;
}

footer {
    background-color: #457b9d;
    min-height: 50px;
    padding: 10px 5px;
    margin: 5px 0 0 0;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
    font-weight: bolder;
}

.styled-table {
    border-collapse: collapse;
    /* border: 2px solid #ffd60a; */
    margin: 25px 0;
    /* font-size: 0.9em; */
    /* font-family: sans-serif; */
    /* min-width: 400px; */
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    text-align: center;
}

.styled-table thead tr {
    background-color: #457b9d;
    color: #001d3d;
    border-bottom: 2.5px solid #ffd60a;
    text-decoration: none;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #457b9d;
}

.underline {
    text-decoration: underline #457b9d;
}

.topnav {
    overflow: hidden;
    background-color: #457b9d;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #457b9d;
    color:#ffd60a;
  }
  
  .topnav a.active {
    background-color:#457b9d;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    
    
  
  
  }
          